   /* HEADER*/
.cabecalho {
    background: #6c118e;
}

.titulo-principal {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;    
    font-family: 'Mukta Mahee', sans-serif;
    padding: 40px 0;
    color: #FFFFFF;
    margin: auto auto;
}

     /*NAVEGADOR*/
*{
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: 'Arial';
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li{
    width:  160px;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #FFF;
}  

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover {
    background-color: #F4F4F4;
    color: #555;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #CCC;
}

.menu ul ul li a {
    background-color: #069;
}


/* BOTÃO MENU */

label[for = "bt-menu" ]{
    padding: 5px;
    background-color: #222;
    color: #FFF;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}


#bt-menu{
    display: none;
}

label[for="bt-menu"]{
    display: none;
}

@media(max-width: 800px) {

    label[for="bt-menu"]{
    display: block;
    }

    #bt-menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
  
    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

}
       /*MAIN*/

body {
    background: linear-gradient(#FEFEFE, #d7bfdb);
}

.foto-eric {
    border-radius: 50%;
    width: 20%;
    float: left;
}

.principal {
    width: 940px;
    margin: 80px auto 0 auto;
    padding-bottom: 100px; 
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Mukta Mahee', sans-serif;
    padding: 50px 0 0 20px;
    margin-top: 40px;
}

.principal p {
    font-size: 20px;
    padding: 20px 30px 0 20px;
    line-height: 1.4;        
}

          /*FOOTER*/

.rodape {
    background: #000000;
    padding: 20px 0 20px 0;  
}

.copyright{
    font-size: 12px;
    color: #FFFFFF;
}